@{
    ViewBag.Title = "Contacto";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Calle Falsa 123<br />
    Depto 21, comuna falsa<br />
    <abbr title="Teléfono">Teléfono:</abbr>
    9844834566789
</address>

<address>
    <strong>Soporte:</strong>   <a href="mailto:soportetienda@lalala.cl">soportetienda@lalala.cl</a><br />
    <strong>Marketing:</strong> <a href="mailto:marketing@lalala.cl">marketing@lalala.cl</a>
</address>